{% extends "base.html" %}

{% block title %}Reset password{% endblock %}

{% block content %}
<div class="mt-5">
    <h2 class="text-center">Lấy lại mật khẩu</h2>
</div>
<form class="m-5" action="" method="post">
    {% csrf_token %}
    <div class="form-group row">
        <label for="id_email" class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="id_email" name="email" autocomplete="email" maxlength="254" required>
            <br>
            <span class="helptext">
                <ul>
                    <li>Nhập email đã liên kết với tài khoản để tiếp tục!</li>
                </ul>
            </span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Gửi yêu cầu</button>
        </div>
    </div>
</form>
{% endblock %}