{% extends "base.html" %}

{% block title %}Foods{% endblock %}

{% block content %}
<div class="mt-5">
    <h2 class="text-center">Lấy lại mật khẩu</h2>
</div>
<form class="m-5" action="" method="post">
    {% csrf_token %}
    <div class="form-group row">
        <label for="id_new_password1" class="col-sm-2 col-form-label">Mật khẩu mới:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name="new_password1" autocomplete="new-password" required
                id="id_new_password1">
            <br>
            <span class="helptext">
                <ul>
                    <li>Không được quá giống với thông tin cá nhân khác của bạn.</li>
                    <li>Chứa ít nhất 8 kí tự.</li>
                    <li>Không được là mật khẩu phổ biến.</li>
                    <li>Không được hoàn toàn bằng số.</li>
                </ul>
            </span>
        </div>
    </div>
    <div class="form-group row">
        <label for="id_new_password2" class="col-sm-2 col-form-label">Nhập lại mật khẩu:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name="new_password2" autocomplete="new-password" required
                id="id_new_password2">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Gửi yêu cầu</button>
        </div>
    </div>
</form>
{% endblock %}