{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="mt-5">
    <h2 class="text-center">Đăng ký</h2>
</div>
<form class="m-5" action="" method="post">
    {% csrf_token %}
    <div class="form-group row">
        <label for="id_username" class="col-sm-2 col-form-label">Tên đăng nhập:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="id_username" name="username" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="id_email" class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="id_email" name="email" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="id_password1" class="col-sm-2 col-form-label">Mật khẩu:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="id_password1" maxlength="50" name="password1" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="id_password2" class="col-sm-2 col-form-label">Nhập lại mật khẩu:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="id_password2" maxlength="50" name="password2" required>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2 col-form-label"></div>
        <div class="col-sm-10">
            <hr/>
        </div>
    </div>
    <div class="form-group row">
        <label for="id_first_name" class="col-sm-2 col-form-label">Tên:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="id_first_name" name="first_name" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="id_last_name" class="col-sm-2 col-form-label">Họ:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="id_last_name" name="last_name" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="id_birthday" class="col-sm-2 col-form-label">Ngày sinh:</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="id_birthday" name="birthday" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="id_height" class="col-sm-2 col-form-label">Chiều cao (cm):</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="id_height" name="height" min="100" max="250" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="id_weight" class="col-sm-2 col-form-label">Cân nặng (kg):</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="id_weight" name="weight" min="10" max="200" required>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">Giới tính:</div>
        <div class="col-sm-10">
            <div class="form-check">
                {% if form.gender.value %}
                    <input type="radio" class="form-check-input" id="male" name="gender" value="true" checked>
                    <label class="form-check-label" for="male">
                        Nam
                    </label>
                    <br/>
                    <input type="radio" class="form-check-input" id="female" name="gender" value="false">
                    <label class="form-check-label" for="female">
                        Nữ
                    </label>
                {% else %}
                    <input type="radio" class="form-check-input" id="male" name="gender" value="true">
                    <label class="form-check-label" for="male">
                        Nam
                    </label>
                    <br/>
                    <input type="radio" class="form-check-input" id="female" name="gender" value="false" checked>
                    <label class="form-check-label" for="female">
                        Nữ
                    </label>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="id_diet_factor" class="col-sm-2 col-form-label">Hệ số ăn uống:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="id_diet_factor" name="diet_factor" step="0.1" required>
            <br>
            <span class="helptext">
                <ul>
                    <li>Bình thường: 1</li>
                    <li>Tăng calories: 1.x (ví dụ: 1.3)</li>
                    <li>Giảm calories: 0.x (ví dụ: 0.8)</li>
                </ul>
            </span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Đăng ký</button>
        </div>
    </div>
</form>
{% endblock %}