{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Title{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}"></link>
    <!-- Custom fonts for this template-->
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">{% block app_name %}foods{% endblock %}</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Trang chủ</span></a>
            </li>
            {% if user.is_staff %}
                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Quản lý
                </div>

                <!-- Nav Item -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAccounts"
                        aria-expanded="true" aria-controls="collapseAccounts">
                        <i class="fas fa-database"></i>
                        <span>Tài khoản</span>
                    </a>
                    <div id="collapseAccounts" class="collapse" aria-labelledby="headingAccounts" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Quản lý tài khoản:</h6>
                            <a class="collapse-item" href="{% url 'admin_search_profile' %}">Danh sách tài khoản</a>
                        </div>
                    </div>
                </li>

                <!-- Nav Item -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDishes"
                        aria-expanded="true" aria-controls="collapseDishes">
                        <i class="fas fa-database"></i>
                        <span>Món ăn</span>
                    </a>
                    <div id="collapseDishes" class="collapse" aria-labelledby="headingDishes"
                        data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Quản lý món ăn:</h6>
                            <a class="collapse-item" href="{% url 'admin_all_dishes' %}">Danh sách món ăn</a>
                            <a class="collapse-item" href="{% url 'admin_add_dish' %}">Thêm món ăn</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">
            {% else %}
                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Quản lý
                </div>
                {% if user.is_authenticated %}
                    <!-- Nav Item -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAccounts"
                            aria-expanded="true" aria-controls="collapseAccounts">
                            <i class="fas fa-database"></i>
                            <span>Tài khoản</span>
                        </a>
                        <div id="collapseAccounts" class="collapse" aria-labelledby="headingAccounts" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Quản lý tài khoản:</h6>
                                <a class="collapse-item" href="{% url 'profile_detail' user.pk %}">Xem thông tin</a>
                                <a class="collapse-item" href="{% url 'account_profile' %}">Cập nhật thông tin</a>
                                <a class="collapse-item" href="{% url 'password_change' %}">Thay đổi mật khẩu</a>
                            </div>
                        </div>
                    </li>
                {% endif %}
            
                <!-- Nav Item -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDishes"
                        aria-expanded="true" aria-controls="collapseDishes">
                        <i class="fas fa-database"></i>
                        <span>Món ăn</span>
                    </a>
                    <div id="collapseDishes" class="collapse" aria-labelledby="headingDishes"
                        data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Quản lý món ăn:</h6>
                            <a class="collapse-item" href="{% url 'user_all_dishes' %}">Danh sách món ăn</a>
                            <a class="collapse-item" href="{% url 'user_add_dish' %}">Tạo món ăn</a>
                        </div>
                    </div>
                </li>

                <!-- Nav Item -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMenu"
                        aria-expanded="true" aria-controls="collapseMenu">
                        <i class="fas fa-database"></i>
                        <span>Thực đơn</span>
                    </a>
                    <div id="collapseMenu" class="collapse" aria-labelledby="headingMenu"
                        data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Quản lý thực đơn:</h6>
                            <a class="collapse-item" href="{% url 'menu_create' %}">Tạo mới</a>
                            <a class="collapse-item" href="{% url 'menu_history' %}">Lịch sử</a>
                        </div>
                    </div>
                </li>
            {% endif %}

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->    
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                        method="get" name="searchForm" onSubmit="get_action(this);">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm"
                                aria-label="Search" aria-describedby="basic-addon2" name="search">
                            <select class="border-0 btn btn-primary" name="sengines">
                                <option value="/dish/" selected>Món ăn</option>
                                <option value="/profile/">Người dùng</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                        </li>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            {% if user.is_authenticated %}
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle fa-fw fa-2x"></i>
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.username}}
                                </span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                            {% else %}
                            <a class="btn btn-primary" href="{% url 'login' %}">Đăng nhập</a>
                            <a class="btn btn-primary" href="{% url 'register' %}">Đăng ký</a>
                            {% endif %}
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <div>{{ message }}</div>
                            </div>
                        {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <div>{{ message }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% block content %}
                {% endblock %}
            </div>
            <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Foods 2020</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bạn chắc chắn muốn đăng xuất?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Chọn "Đồng ý" để đăng xuất khỏi hệ thống!</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Quay lại</button>
                        <a class="btn btn-primary" href="{% url 'logout' %}">Đồng ý</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Confirm Modal-->
        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc muốn xóa "{{ object }}"?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Chọn "Đồng ý" để xác nhận!
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Quay lại</button>
                        <form action="delete/" method="post">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary" value="Đồng ý">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <!-- jQuery library -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>

    <!-- Popper JS -->
    <script src="{% static 'js/popper.min.js' %}"></script>

    <!-- Latest compiled JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/app.js' %}"></script>


    {% comment %}
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script> {% endcomment %}

</body>

</html>