tr td {
    cursor: pointer;
 }
tr:hover {
    filter: alpha(opacity=100);
}
a.ui-state-default{
    background-color: #eeeeee !important;
    /* color: #ffffff */
} 
#clear_filter:hover {
    filter: alpha(opacity=100);
    cursor: pointer;
}